

services:
  postgres:
    image: postgres:16
    container_name: go-ecom-postgres

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: go-ecom

    ports:
      - "5433:5432"

    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
